/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  display: block;
}
.gallery {
  width: 1160px;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.gallery .gallery-image {
  width: 360px;
  height: 200px;
  transition: .3s;
}

.gallery .gallery-link:hover .gallery-image {
  transform: scale(1.05);
  cursor:zoom-in;
}

section {
  width: 1200px;
  margin: 0 auto;
}

.tasks-list {
  display: block; 
  margin-top: 50px;
}

.feedback-form {
  width: 360px;
  margin: 0 auto;
}


.feedback-form {
  color: rgba(46, 47, 66, 1);
  font-size: 16px;
}
.feedback-form label {
  display: block;
  margin-bottom: 10px;
}
.feedback-form label:last-child {
  margin-bottom: 15px;
}

.feedback-form input, .feedback-form textarea {
  margin-top: 10px;
  display: block;
  border: 1px solid rgba(128, 128, 128, 1);
  outline: none;
  padding: 8px 15px;
  border-radius: 4px;
  width: 100%;
  color: inherit;
  font-size: inherit;
}

.feedback-form input:hover, .feedback-form textarea:hover {
  border: 1px solid rgba(0, 0, 0, 1); 
}

.feedback-form textarea {
  resize: none;
}

.feedback-form button {
  padding: 8px;
  width: 95px;
  background-color: rgba(78, 117, 255, 1);
  border-radius: 8px;
  border: none;
  color: rgba(255, 255, 255, 1);
  font-size: inherit;
}

.feedback-form button:hover {
  background-color: rgba(108, 140, 255, 1);
}